HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### logs ###
*.log
*.txt
db_dump.txt

### Local scripts ###
*.js
*.bat
*.vbs
FOUNDIT_Postman_Collection.json
Mugisha_FOUNDIT_Final_Submission.zip
query
table.txt
user_test.txt
test_evidence.txt

### VS Code & IDEA ###
.vscode/
.idea/
*.iws
*.iml
*.ipr
